process {
    scratch = '/mnt/scratch'
    stageInMode = 'copy'
    stageOutMode = 'copy'
    time = '24h'

    // Save & print Slurm Job ID for tracking
    beforeScript = '''
        if [ -n "$SLURM_JOB_ID" ]; then
            echo "SLURM Job ID: $SLURM_JOB_ID"
            echo "$SLURM_JOB_ID" > .slurm_job_id
        fi
    '''
}

profiles {
    slurm {
        executor.name = 'slurm'
        executor.queueSize = 1000
        process.queue = 'htc'

        trace.overwrite = true
        report.overwrite = true
        timeline.overwrite = true
    }

    sprinter {
        process {
            withLabel: 'process_high' {
                container = "mondrian.azurecr.io/rdr_py27:v_0_0_3"
            }
            withLabel: 'process_med' {
                container = "mondrian.azurecr.io/rdr_py27:v_0_0_3"
            }
            withLabel: 'process_low' {
                container = "mondrian.azurecr.io/rdr_py27:v_0_0_3"
            }
            withName: 'RUNRDRESTIMATOR|POSTPROCESS_RDR' {
                container = "mondrian.azurecr.io/rdr_py27:v_0_0_3"
                publishDir = [
                    path: { "${params.output_dir}/" },
                    mode: 'copy'
                ]
            }
            withName: 'GOSPRINTER' {
                container = "mondrian.azurecr.io/sprinter:v_0_0_1"
                publishDir = [
                    path: { "${params.output_dir}/" },
                    mode: 'copy'
                ]
            }
        }
    }
}
